---
layout: default
---

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<p>Howdy! I'm Dustin Kenefake and I'm a second-year chemical engineering student in the <a href = "http://parametric.tamu.edu/"> Pistikopoulos Lab</a> at Texas A&M. My primary research interests are at the intersection of optimization and process systems engineering, specifically in the space of model predictive control and real time optimization.</p>

<p> Here is an interactive plot, that discribes the solution of a multiparametric quadratic programming in the uncertainty space</p>

{% include_relative /assets/imgs/plotly.html %}
