---
layout: default
---

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<p>Howdy! I'm Dustin Kenefake and I'm a second-year chemical engineering student in the [Pistikopoulos Lab](http://parametric.tamu.edu/) at Texas A&M. My primary research interest involves leveraging optimization for process systems engineering in the space of model predictive control and real time optimization.</p>

<p> Here is an interactive plot, that discribes the solution of a multiparametric quadratic programming in the uncertainty space</p>

{% include_relative /assets/imgs/plotly.html %}
