---
layout: default
---

<p>Howdy! I'm Dustin Kenefake and I'm a second-year chemical engineering PhD student in the <a href = "http://parametric.tamu.edu/"> Pistikopoulos Lab</a> at Texas A&M. My primary research interests are at the intersection of optimization and process systems engineering, specifically in the space of model predictive control and real time optimization.</p>

<p> Here is an interactive plot, that discribes the solution of a multiparametric quadratic programming problem in the uncertainty space</p>

{% include_relative /assets/imgs/plotly.html %}

<p> For more information about Mutliparametric programming and it's applications <a href="https://www.sciencedirect.com/science/article/abs/pii/S0263876216303276">this paper</a> is a good jumping off point.
